<section class="row" data-ng-controller="AuthenticationController">

	<div class="container">
		<div class="page-header">
			<h3>Frequently Asked Questions</h3>
		</div>
	
	<div class="col-md-6 text-center question">
		<h2>What is Colab?</h2><br/>
		<p>Good question, friend. Colab is a middle man between you and your future creative team. We want to make it as easy as possible to find and connect with developers and designers to work with on your next project.</p>
	</div>

	<div class="col-md-6 text-center question">
		<h2>How does it work?</h2><br/>
		<p>Its easy as pie! Once you sign up you will be prompted to fill out your profile. Your profile will include whatever info about yourself that you'd like to share, as well as the skills that you have and the skills that you're looking for in a creative team. You are also encouraged to link to some of your previous work so that people can get a feel for what you're all about.</p>
	</div>

	<div class="col-md-6 text-center question">
		<h2>How much does it cost?</h2><br/>
		<p>To borrow a phrase from our good friend Mark Zuckerberg, its free, and it always will be. We're here to help you make money, not take your money from you. Colab exists to stoke the fires of creativity and bring people together free of charge. We want to combine synergy and innovation, creating what we like to call... Synnovation.</p>
	</div>

	<div class="col-md-6 text-center question">
		<h2>What if I don't have a project in mind?</h2><br/>
		<p>No problem! Not everyone who signs up has to come to the table with a brilliant idea, just some talent and a collaborative spirit. Users are free to sign up, fill out their skills and see whats out there. But if you do have a project you want to get to work on, you can submit a project proposal for other users to view and apply to.</p>
	</div>

	<div class="col-md-12 text-center" id="faqsignoff">
		<h3>Did we not answer your question? <a href="#">Send us an email.</a></h3>
	</div>
	
	</div>
	</div>
</section>