@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

h1#addmore {
	margin-top:20px;
}

.row + .row{
	margin-top: 2em;
}

label{
	margin-top: .5em;
}

button:not(.close){
	margin-top: 2em;
}

.profile{
	text-align: center;
	width: 80%;
	margin: 2em auto;
}

.profile__img{
	display: block;
	margin: 0 auto;
	width: 100px;
}

.btn-primary{
	background: #6b3586;
	border-color: transparent;
	text-shadow: none;
	box-shadow: none;
}
	.btn-primary:hover{
		background: #6b3586;
		border-color: transparent;
		opacity: .7;
	}

.profile__main{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 3em;
	overflow: hidden;
}

.profile__main h2{
	text-align: center;
	margin-bottom: 1em;
}

.profile__social ul{
	list-style-type: none;
	padding: 0;
}

.profile__social li{
	color: #6b3586;
	display: inline-block;
	margin-right: 1em;
}
	.profile__social li:last-of-type{
		margin-right: 0;
	}

.profile__social img{
	max-width: 50px;
	background: white;
	border-radius: 100%;
	padding: 3px;
}

.post{
	border: 1px solid #864e9f;
	border-radius: 4px;
	padding: 5%;
	background:  rgba(255, 255, 255, 0.8);;
	color: black;
}

.post__img{
	display: block;
	max-width: 100%;
}

.post__title{
	margin-top: 0;	
	font-weight: bold;
}

.hushed{
	font-size: .75em;
	opacity: .75;
	margin: 0;
}

.list-group-item{
	border: 1px solid #864e9f;
	color: #000000;
}
	a.list-group-item:hover{
		background: rgba(134, 78, 159, 0.1);
	}