<section class="row" data-ng-controller="SettingsController">
	<div class="page-header">
		<h1>My Matches</h1>
	</div>
<!--
  <div class="col-md-6  col-md-offset-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
-->

  	<div class="col-sm-3 col-md-4">
		<img class="center-block img-circle img-responsive" width="200px" src="http://andydng.com/images/avatar.jpg" alt="Andy Duong">
		<hr>
		<button class="btn btn-primary" type="submit">Profile</button>
		<button class="btn btn-primary" type="submit">Message</button>
  	</div>
  	<div class="col-sm-9 col-md-8">
		<a href="#"><h2>Andy Duong</h2></a>
		<p><small>joined Nov. 4, 2015</small>
		<p>Errem iriure definitiones ius ad, ei unum deleniti copiosae duo.</p>
			<p class="pull-left">Skills &nbsp;</p>
			<button class="btn btn-primary" type="submit">PHP</button>
			<button class="btn btn-primary" type="submit">AJAX</button>
			<button class="btn btn-primary" type="submit">C++</button>
  	</div>
<div class="clearfix"></div>
<hr>
  <div class="col-sm-3 col-md-4">
		<img class="center-block img-circle img-responsive" width="200px" src=" http://fillmurray.com/200/200" alt="Andy Duong">
		<hr>
		<button class="btn btn-primary" type="submit">Profile</button>
		<button class="btn btn-primary" type="submit">Message</button>
  	</div>
  	<div class="col-sm-9 col-md-8">
		<a href="#"><h2>Bill Murry</h2></a>
		<p><small>joined Nov. 4, 1999</small>
		<p>Has been on the forefront of the internet since the internet.</p>
			<p class="pull-left">Skills &nbsp;</p>
			<button class="btn btn-primary" type="submit">HTML</button>
			<button class="btn btn-primary" type="submit">JavaScript</button>
			<button class="btn btn-primary" type="submit">CSS</button>
  	</div>
</section>