<section class="row" data-ng-controller="SettingsController">
	<div class="page-header">
		<div class="profile">
			<img class="profile__img" src="uploads/bf3fa8eaa5dae8bc15b52446c720e669.png">
			<h1 class="profile__name">Andrew Nater</h1>
			<p class="profile__bio">
				Errem iriure definitiones ius ad, ei unum deleniti copiosae duo.
			</p>
			<button type="submit" class="btn btn-large btn-primary">Send Colab Request</button>
		</div>
	</div>
	<div class="profile__main">
		<div class="col-md-6">
			<h3>Andrew's Posts</h3>
			<div class="post">
				<img class="post__img" src="uploads/bf3fa8eaa5dae8bc15b52446c720e669.png">
				<div class="post__info">
					<p class="post__title">
						Message Icon
					<p>
					<p class="hushed">
						Posted on Apr 11, 2015
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Andrew's Skills</h3>
			<div class="list-group">
				<a href="#" class="list-group-item">
					<img src="/modules/users/img/photoshop.png" width="30" height="30"> Photoshop
				</a>
				<a href="#" class="list-group-item">
					<img src="/modules/users/img/illustrator.png" width="30" height="30"> Illustrator
				</a>
				<a href="#" class="list-group-item">
					<img src="/modules/users/img/indesign.png" width="30" height="30"> InDesign
				</a>
				<a href="#" class="list-group-item">
					<img src="/modules/users/img/powerpoint.png" width="30" height="30"> Powerpoint
				</a>
			</div>
		</div>
	</div>
</section>