<section class="row" data-ng-controller="SettingsController">
	<div class="page-header">
		<div class="profile">
			<img class="profile__img" src="http://placehold.it/150x150">
			<h1 class="profile__name">{{ user.displayName }}</h1>
			<p class="profile__bio" data-ng-bind="user.bio">
				Errem iriure definitiones ius ad, ei unum deleniti copiosae duo.
			</p>
			<div class="profile__social">
				<ul>
					<li ng-if="user.social.twitter">
						<a href="http://twitter.com/{{user.social.twitter}}">
							<img src="modules/users/img/social/twitter.png">
						</a>
					</li>
					<li ng-if="user.social.dribbble">
						<a href="http://dribbble.com/{{user.social.dribbble}}">
							<img src="modules/users/img/social/dribbble.png">
						</a>
					</li>
					<li ng-if="user.social.github">
						<a href="http://github.com/{{user.social.github}}">
							<img src="modules/users/img/social/github.png"> 
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="profile__main">
		<div class="col-md-6" data-ng-init="getUserPhotos()">
			<h3>{{ user.firstName }}'s Posts</h3>
			<div class="post" data-ng-repeat="photo in photos">
				<img class="post__img" src="{{photo.image}}">
				<div class="post__info">
					<p class="post__title">
						{{ photo.name }}
					<p>
					<p class="hushed">
						Posted on Apr 11, 2015
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3>{{ user.firstName }}'s Skills</h3>
			<div class="list-group">
				<a href="#" class="list-group-item">
					<img src="/modules/users/img/photoshop.png" width="30" height="30"> Photoshop
				</a>
				<a href="#" class="list-group-item">
					<img src="/modules/users/img/illustrator.png" width="30" height="30"> Illustrator
				</a>
				<a href="#" class="list-group-item">
					<img src="/modules/users/img/indesign.png" width="30" height="30"> InDesign
				</a>
				<a href="#" class="list-group-item">
					<img src="/modules/users/img/powerpoint.png" width="30" height="30"> Powerpoint
				</a>
			</div>
		</div>
	</div>
</section>