<section class="row" ng-app="users" data-ng-controller="SettingsController">
	<!--<div class="page-header">
		<h1>My Skills</h1>
	</div>-->
	<tags-input ng-model="tags">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
	<!--<div class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Awesome!</strong> You have successfully added a new skill!
	</div>-->
	<!--<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item"><img src="/modules/users/img/photoshop.png" width="30" height="30"> Photoshop</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/illustrator.png" width="30" height="30"> Illustrator</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/indesign.png" width="30" height="30"> InDesign</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/powerpoint.png" width="30" height="30"> Powerpoint</a>
		</div>
	</div>
	<div class="col-md-4"
		<div class="list-group">
		  <a href="#" class="list-group-item"><img src="/modules/users/img/html.png" width="30" height="30"> Html5</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/css.png" width="30" height="30"> Css3</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/js.png" width="30" height="30"> JavaScript</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/typography.png" width="30" height="30"> Typography</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item"><img src="/modules/users/img/organize.png" width="30" height="30"> Organized</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/team.png" width="30" height="30"> Works Well With A Team</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/motivated.png" width="30" height="30"> Self-Driven</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/camera.png" width="30" height="30"> Photographer</a>
		</div>
	</div>
	<div class="page-header">
	  <center><h1>Add more...</h1></center>
	</div>
<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item"><img src="/modules/users/img/innovative.png" width="30" height="30"> Innovative</a>
		</div>
	</div>
<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item"><img src="/modules/users/img/trust.png" width="30" height="30"> Trustworthy</a>
		</div>
	</div>
<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item"><img src="/modules/users/img/problem-solver.png" width="30" height="30"> Problem Solver</a>
		</div>
	</div>-->
</section>