<section class="row" data-ng-controller="SettingsController">
	<div class="page-header">
		<h1>My Skills</h1>
	</div>
	<div class="col-md-3">
		<div class="list-group">
		  <a href="#" class="list-group-item"><img src="/modules/users/img/photoshop.png" width="30" height="30"> Photoshop</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/illustrator.png" width="30" height="30"> Illustrator</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/indesign.png" width="30" height="30"> InDesign</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="list-group">
		  <a href="#" class="list-group-item"><img src="/modules/users/img/html.png" width="30" height="30"> Html5</a>
		  <a href="#" class="list-group-item"><img src="/modules/users/img/css.png" width="30" height="30"> Css3</a>
		</div>
	</div>
</section>